.box{
  margin: 0 auto;
  position: fixed;
  top: 100px;
  left: 50%;
  transform: translateX(-50%);
}
.all_box{
  width: 300px;
  height: 200px;
  overflow: auto;
  color: aliceblue;
  text-align: center;
  float: left;
  margin-right: 20px;
  margin-top: 20px;
}
.first_box{
  background: rgb(0, 0, 0);
}
/* 谷歌滚动条自定义 */
.first_box::-webkit-scrollbar {   /*滚动条整体部分*/
  width: 10px;  
  height:10px;
  background-color:#ffffff;
}  
.first_box::-webkit-scrollbar-track-piece{  /*除了滚外部的颜色，其实要第一个就行了'b*/
  background-color: rgb(255, 255, 255);
}
.first_box::-webkit-scrollbar-button{    /*滚动条两端的按钮，可以用display:none让其不显示，也可以添加背景图片，颜色改变显示效果（位置2）*/
  background: #ffffff;
}
.first_box::-webkit-scrollbar-thumb{ /*滚动条中能上下移动的小块*/
  width: 10px;  
  height:5px;  
  border-radius: 10PX;  
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);  
  background-color:#979797;
} 
/* ie滚动条自定义，好像无法设置宽高 */
.first_box{
  scrollbar-arrow-color: rgb(255, 255, 255); /*三角箭头的颜色*/
  scrollbar-face-color: rgb(162, 162, 162); /*立体滚动条的颜色（包括箭头部分的背景色）*/
  scrollbar-shadow-color: rgba(126, 126, 126, 0.3); /*立体滚动条阴影的颜色*/
  scrollbar-darkshadow-color: rgba(0,0,0,0.3); /*立体滚动条外阴影的颜色*/
  scrollbar-track-color: rgb(255, 255, 255); /*立体滚动条背景颜色*/
  scrollbar-base-color:rgb(255, 255, 255); /*滚动条的基色*/
}
/* 火狐滚动条自定义 */
.first_box {
  overflow-y: scroll;
  scrollbar-color: #979797 rgb(255, 255, 255);   /* 第一个是滚动块的颜色，第二个是滚动条背景的颜色 dark为黑色滚动条，light为浅色滚动条 */
  scrollbar-width: thin; /* 瘦的滚动块，会连箭头都消失。值为none隐藏滚动块但仍可以滚动。auto为默认宽度*/
}
/* ================================================ */
.second_box{
  width: 200px;
  color: #ffff;
  background:#03A9F4;
}
.second_box::-webkit-scrollbar {   /*滚动条整体部分*/
  width: 6px;  
  height:50px;
  background-color:#BDBDBD;
}  

.second_box::-webkit-scrollbar-track-piece{  /*除了滚外部的颜色*/
  background-color:#0288D1;
}
.second_box::-webkit-scrollbar-button{    /*滚动条两端的按钮，可以用display:none让其不显示，也可以添加背景图片，颜色改变显示效果（位置2）*/
  background:#0288D1;
}
.second_box::-webkit-scrollbar-thumb{ /*滚动条中能上下移动的小块*/
  width: 6px;  
  height:50px;  
  border-radius: 6PX;  
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);  
  background-color:#fff;
} 
   /* ie滚动条自定义，好像无法设置宽高 */
.second_box{
  scrollbar-arrow-color: #0091ff; /*三角箭头的颜色*/
  scrollbar-shadow-color: #fff; /*立体滚动条阴影的颜色*/
  scrollbar-darkshadow-color: rgba(0,0,0,0.3); /*立体滚动条外阴影的颜色*/
  scrollbar-track-color: #0288D1; /*立体滚动条背景颜色*/
  scrollbar-face-color: #fff; /*立体滚动条的颜色（包括箭头部分的背景色）*/
}
/* 火狐滚动条自定义 */
.second_box {
  overflow-y: scroll;
  scrollbar-color: #fff #0288D1;   /* 第一个是滚动块的颜色，第二个是滚动条背景的颜色 dark为黑色滚动条，light为浅色滚动条 */
  scrollbar-width: thin; /* 瘦的滚动块，会连箭头都消失。值为none隐藏滚动块但仍可以滚动。auto为默认宽度*/
}
/* ================================================== */
.third_box{
  width: 120px;
  color:#FFC700;
  background-color: #F7F7F7;
}
.third_box::-webkit-scrollbar {   /*滚动条整体部分*/
  width: 2px;  
  height:60px;
  background-color:#0C0D0F;
}  
.third_box::-webkit-scrollbar-track-piece{  /*除了滚外部的颜色*/
  background-color:#0C0D0F;
}
.third_box::-webkit-scrollbar-button{    /*滚动条两端的按钮，可以用display:none让其不显示，也可以添加背景图片，颜色改变显示效果（位置2）*/
  background:#0C0D0F;
}
.third_box::-webkit-scrollbar-thumb{ /*滚动条中能上下移动的小块*/
  width: 2px;  
  height:60px;  
  border-radius: 6PX;  
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);  
  background-color:#F7F7F7;
} 
   /* ie滚动条自定义，好像无法设置宽高 */
.third_box{
  scrollbar-arrow-color: #0C0D0F; /*三角箭头的颜色*/
  scrollbar-shadow-color: #F7F7F7; /*立体滚动条阴影的颜色*/
  scrollbar-track-color: #0C0D0F; /*立体滚动条背景颜色*/
  scrollbar-darkshadow-color: rgba(255, 255, 255, 0.8); /*立体滚动条外阴影的颜色*/
  scrollbar-face-color: #F7F7F7; /*立体滚动条的颜色（包括箭头部分的背景色）*/
}
/* 火狐滚动条自定义 */
.third_box {
  overflow-y: scroll;
  scrollbar-color:#F7F7F7 #0C0D0F;   /* 第一个是滚动块的颜色，第二个是滚动条背景的颜色 dark为黑色滚动条，light为浅色滚动条 */
  scrollbar-width: thin; /* 瘦的滚动块，会连箭头都消失。值为none隐藏滚动块但仍可以滚动。auto为默认宽度*/
}